$width: 550px
@media screen and (max-device-width: 640px)
	$width: 305px


@mixin text 
	font: 
		family: 'Orator Std', sans-serif
	text-align: center


#controls
	position: absolute
	top: 291px
	width: $width

#mapholder
	position: absolute
	width: $width
	height: 300px
.btn
	background-color: rgb(240,240,240)
	display: block
	position: relative
	margin-left: - 15px
	cursor: pointer
	border: 2px solid grey
	border-radius: 3px



#placeholder
	position: relative
	top: 370px
	// background-color: rgba(0,200,255,.7)
	width: $width
	height: 300px
	margin-left: -($width/2)
	left: 51%
	list-style-type: none
	padding-left: 0px
	overflow: scroll
	overflow-x: hidden

#content
	width: $width
.place
	border-bottom: 1px solid black
	cursor: pointer

@media (max-width: 
#nameinput
	@include text
	font-size: 14px
	width: $width
	top: -40px

	
#buttons
	margin-left: 16px

#clearLocalStorage
	position: fixed
	top: 680px

